<p id="notice"><%= notice %></p>

<p>
  <strong>User_id:</strong>
  <%= @memo.user_id %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @memo.venue_id %>
</p>

<p>
  <strong>Venue_id:</strong>
  <%= @memo.venue_id %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
